/* You're welcome to change any of this! */
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Slab&family=Mooli&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Mooli;
    background-color: black;
    color: white;
}

img {
    margin: 0;
    padding: 0;
}

li {
    margin: 5px;
    padding: 5px;
}

nav a {
    margin: 10px;
}

header img {
    height: auto;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(20, 20, 20);
    font-style: italic;
    max-height: 150px;
}

a {
    color: #eee;;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}
p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}

section {
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tutorials {
    background-color: #84a98c;
}

#homework {
    background-color: #52796f;
}

#inspiration {
    background-color: #354f52;
    color: white;
}

#class-exercises {
    background-color: #2f3e46;
    color: white;
}


footer {
    background-color: rgb(143, 155, 155);
    text-align: center;
    padding: 5px;
    margin-bottom: 0px;
    right: 0; bottom:0; left:0;
    color: rgb(18, 17, 17);
}

@media screen and (max-width: 800px){
    p, a, li {
        margin:0;
        line-height: 1em;
    }

    #navbar {
        display: none;
    }
    
    section {
        height: 60vh;
    }
}