/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
}

header {
    padding: 15px;
    background-color: black;
    text-align: center;
    font-style: italic;
}

a {
    color: #eee;;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}
p, a, li {
    line-height: 1.5em;
    font-size: 1.1em;
}

section {
    display: inline-table;
    padding: 50px;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tutorials {
    background-color: #84a98c;
}

#homework {
    background-color: #52796f;
}

#inspiration {
    background-color: #354f52;
    color: white;
}

#class-exercises {
    background-color: #2f3e46;
    color: white;
}


footer {
    background-color: rgb(143, 155, 155);
    text-align: center;
    padding: 5px;
    margin-bottom: 0px;
    right: 0; bottom:0; left:0;
    color: black;
}